<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bracket Generator</title>
    <link rel="stylesheet" href="bracket.css">
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="bracket">
            <div class="b-cells" v-for="cell in bracket.cells">
                <div class="qualifications" v-for="qual in cell.qualifications">
                    <div class="qual-title">{{ qual.name }}</div>
                    <div class="winners" v-for="winner in qual.winners" :class="{ 'connector-2': winner.matches.length == 2, 'connector-1': winner.matches.length == 1 }">
                        <div class="matches" v-for="match in winner.matches" :class="{ 'line' : match.teams.length == 0, 'complete' : match.winn != null,  }">
                            <div class="teams" v-for="(team, i) in match.teams" :class="[{ 'winn' : match.winn == i },'teamid-'+team.id]" :data-team-id="'teamid-'+team.id">
                                <div class="teams-logo" :style="{ 'background-image': team.logo ? 'url('+team.logo+')' : 'url(https://assets.valorantesports.com/val/vct-logo.21d0c9ddeb.svg)' }"></div>
                                <div class="teams-name">{{ team.team_name }}</div>
                                <div class="teams-score">{{ team.score }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>